/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

@import "__spacing.css"; /* Using Tachyons spacing */

html,
body {
  color: #222;
  font-size: 1em;
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
  margin: 0;
  width: 100%;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

.header_logo, li, .button, .fa-bars, #menu {
  transition: all 400ms; -webkit-transition: all 400ms; -moz-transition: all 400ms; -o-transition: all 400ms;
}

/* header */
header {
  display: flex;
  align-items: center;
  height: 64px;
  width: 100%;
  position: fixed;
  z-index: 1;
  background-color: white;
}

.header__logo {
  height: 32px;
  width: auto;
  padding: 0;
  margin-left: 31%;
}

/* Hamburger menu */
.fa-bars {
  height: 32px;
  margin-right: 10.5%;
  margin-left: auto;
}

header .fa-bars:hover {
  opacity: 0.5;
  cursor: pointer;
}

#menu {
  position: absolute;
  width: 300px;
  top: 65px;
  left: 100%;
  padding: 25px;
  background: rgba(255, 255, 255, 0.7);
  list-style-type: none;
}

#menu.open {
  position: fixed;
  top: 65px;
  left: 70%;
  padding: 25px;
  background: rgba(255, 255, 255, 0.7);
  list-style-type: none;
}

#menu li{
  text-transform: uppercase;
  font-weight: 700;
  padding: 10px 0;
  font-size: 22px;
  color: black;
}

a {
  text-decoration: none;
 color: black;
}

a:hover {
  opacity: 0.7;
}

/* footer */
footer {
  display: flex;
  align-items: center;
  margin: 0 8%;
  height: 64px;
  border-top: 2px solid black;
}

footer div {
  display: flex;
  width: 25%;
  padding-top: 10px;
  justify-content: space-between;
  height: 0px;
  margin-left: auto;
  margin-right: -1%;
}

footer nav {
  margin-left: -1%;
}

.footer__items a {
  font-weight: 500;
  color: #222;
  text-decoration: none; 
}

/* The hero image */
.hero-image {
  background-image: url("../img/hero-beach.jpg");
  height: 480px;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 64px;
}

mark {
  background-color: white;
  padding: 6px;
}

h1 {
  font-size: 48px;
  font-weight: 700;
  margin-left: 8%;
  margin-top: 5%;
  position: absolute; 
}


/* grid container */
.container {
  display: grid;
  grid-template-columns: 8% 24% 6% 10% 4% 6% 4% 6% 24% 8%; 
  grid-template-rows: repeat(10, auto);
  grid-template-areas:
  '. what-we-fund what-we-fund . . . . . . .'
  '. block-1 block-1 block-1 . block-2 block-2 block-2 block-2 .'
  '. vl vl vl vl vl vl vl vl .'
  '. our-mission our-mission our-mission . . our-mission-img our-mission-img our-mission-img .'
  '. vl2 vl2 vl2 vl2 vl2 vl2 vl2 vl2 .'
  '. communities communities communities . . . . . .'
  '. block-3 . block-4 block-4 block-4 block-4 . block-5 .'
  '. vl3 vl3 vl3 vl3 vl3 vl3 vl3 vl3 .'
  '. technologies technologies technologies . . . . . .'
  '. block-6 . block-7 block-7 block-7 block-7 . block-8 .';
  }

/* grid content */

/* allgemein */

.vl {
  background-color: black;
  height: 2px;
  padding: 0;
  grid-area: vl;
}

.vl2 {
  background-color: black;
  height: 2px;
  padding: 0;
  grid-area: vl2;
}

.vl3 {
  background-color: black;
  height: 2px;
  padding: 0;
  grid-area: vl3;
}

div {
  padding-bottom: 50px;
}  

h2 {
    text-transform: uppercase;
    margin: 2em 0 0 0;
    font-size: 36px;
    font-weight: 700;
  }

  h3 {
  font-size: 24px;
  letter-spacing: 1px;
  text-transform: uppercase;
  letter-spacing: 1px;
  }

  h4 {
    font-size: 24px;
    padding: 0 15px;
    height: 4.5em;
  }

  h5 {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    color: rgb(121, 120, 120);
    padding: 0 15px;
    letter-spacing: 1px;
  }

  h6 {
    font-size: 24px;
    padding: 0 15px;
  }

  p {
    font-size: 24px;
  }

  .article-blue {
    background-color: #83AFED;
    padding-bottom: 0;
    margin-bottom: 50px;
  }

  .article-blue img {
    vertical-align: bottom;
  }

  .article-yellow {
    background-color: #F2C94C;
    padding-bottom: 0;
    margin-bottom: 50px;
  }

  .article-yellow img {
    vertical-align: bottom;
  }

  .button-small {
    background-color: black;
    color: white;
    border: none;
    padding: 0 25px;
    margin: 25px 0 50px 0;
  }
  
  .button-wide{
    width: 100%;
  color: white;
  }

  .button-wide h3 {
    background-color: black;
    padding: 15px 20px;
    margin-top: 0;
  }

/* what we fund */
.wwf {
  grid-area: what-we-fund;
}

.block-1 {
  grid-area: block-1;
}

.block-1 h6 {
  background-color: #F2C94C;
  padding: 4em 15px 1em 15px;
  margin: 0; 
}

.block-2 {
  grid-area: block-2;
}

.block-2 h6 {
  background-color: #83AFED;
  padding: 4em 15px 1em 15px;
  margin: 0; 
}

/* our mission */
.our-mission {
  grid-area: our-mission;
  padding-top: 70px;
}

.our-mission h2 {
  margin-top: 0;
}

.our-mission-img {
  grid-area: our-mission-img;
  padding-top: 70px;
}

img {
  width: 100%;
}

/* communities */
.communities {
  grid-area: communities;
}

.block-3 {
  grid-area: block-3;
}

.block-4 {
  grid-area: block-4;
}

.block-5 {
  grid-area: block-5;
}

/* technologies */
.technologies {
  grid-area: technologies;
}

.block-6 {
  grid-area: block-6;
}

.block-7 {
  grid-area: block-7;
}

.block-8 {
  grid-area: block-8;
}

@media only screen and (max-width: 667px) {

  html,
  body {
    font-size: 0.5em;
  }

  /* The hero image */
.hero-image {
  height: 200px;
}

h1 {
  font-size: 24px; 
}

  h2 {
    font-size: 22px;
    margin: 10% 0 10% 0;
  }

  h3 {
  font-size: 18px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 12px;
  }

  h6 {
    font-size: 18px;
  }

  p {
    font-size: 18px;
  }


/* grid container */
.container {
  display: grid;
  grid-template-columns: 5% 90% 5%; 
  grid-template-rows: repeat(14, auto);
  grid-template-areas:
  '. what-we-fund .'
  '. block-1 .'
  '. block-2 .'
  '. our-mission .'
  '. our-mission-img .'
  '. communities .'
  '. block-3 .' 
  '. block-4 .'
  '. block-4 .'
  '. block-5 .'
  '. technologies .'
  '. block-6 .'
  '. block-7 .'
  '. block-8 .';
  }

  #wwf, #communities, #technologies {
    padding-top: 40px;
  }

  .our-mission-img {
    padding-top: 40px;
  }

/* header */
.header__logo {
  height: 20px;
  margin-left: 5%;
}

/* Hamburger menu */
.fa-bars {
  font-size: 18px;
}

header {
  margin-bottom: 40px;
}

#menu {
  position: absolute;
  height: auto; 
  margin: 0;
  top: 60px;
  left: 100%;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 5%;
}

#menu.open {
position: absolute;
height: auto; 
margin: 0;
top: 60px;
left: 50%;
padding-top: 0;
padding-bottom: 0;
padding-left: 5%;
}

#menu li{
  font-size: 15px;
}

  /* footer */
  footer {
    font-size: 3em;
    margin: 0 5%;
  }
  
  footer div {
    width: auto;
    padding-top: 0px;
    margin-left: auto;
   margin-top: -20px;
  }
  
div {
  padding-bottom: 0px;
} 
  
}


/* ========================================================================== ========================================================================== */



   /*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}
